.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
  opacity: 0;
}

.modal {
  position: relative;
  width: 450px;
  height: 609px;
  padding: 40px;

  transition: transform 500ms var(--timing-function),
    opacity 500ms var(--timing-function);
  background-color: var(--second-text-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  @media screen and (min-width: 1200px) {
    position: absolute;
    width: 528px;
    height: 581px;
    opacity: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
  }
}

.btn-modal {
  display: flex;
  position: absolute;
  height: 30px;
  width: 30px;
  right: 8px;
  top: 8px;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--second-text-color);
  transition: color 250ms var(--timing-function);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
  @media screen and (min-width: 1200px) {
    position: absolute;
  }
}

.backdrop-icon {
  height: 18px;
  width: 18px;
  fill: currentColor;
}
