:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --second-text-color: #ffffff;
  --third-text-color: #ffffff99;
  --background-color: #2f303a;
  --second-background-color: #f5f4fa;
  --third-background-color: #e5e5e5;
  --accent-color: #2196f3;
  --second-accent-color: #188ce8;
  --icon-color: #afb1b8;
  --solid: #eeeeee;
  --border: 1px solid rgba(33, 33, 33, 0.2);
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  --box-shadow-frame: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
